# deps
node_modules/
.env
data
node_modules
build
.DS_Store
fly.toml
judge0.conf
.idea
dist
frontend/dependency-graph.svg
frontend/.dependency-cruiser.cjs
vsc-server
vsc-extensions
frontend/src/editor/extensions
fonts